[run]
branch = true
omit =
    tests/*
    dumbpw/cli.py

# concurrency
concurrency = multiprocessing
parallel = true
sigterm = true

[report]
skip_empty = true
show_missing = true
fail_under = 98

[html]
directory = cov/html

[xml]
output = cov/coverage.xml
