source_up

root_dir="$(git rev-parse --show-toplevel)"

export PYTEST_ADDOPTS="--cov-config=\"$root_dir\"/.coveragerc --rootdir=\"$root_dir\" --ignore=.pythonrc.py --color=yes"

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
